@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

mat-card {
  width: $card-width;
  cursor: pointer;
  transition: background-color 0.3s;

  @include card-shadow;
}

img {
  height: $card-image-height;
  object-fit: cover;
}

.liked {
  color: red;
}

.spacer {
  flex: 1 1 auto;
}

.dark-theme mat-card {
  background: #1f1f1f;
}
