@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;
@use 'sass:math';

:host {
  display: block;
  width: 100%;
  flex: 0 0 100%;
}

mat-card {
  width: 100%;
  cursor: pointer;
  border-radius: 16px;
  overflow: hidden;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease,
    background-color 0.3s;

  background: var(--mat-sys-surface-container);

  @include card-shadow;
}

img {
  width: 100%;
  height: $card-image-height;
  object-fit: cover;
}

.liked {
  color: red;
}

.spacer {
  flex: 1 1 auto;
}

/* -----------------------------
   Tablet
------------------------------ */

@media (min-width: 768px) {
  :host {
    flex: 0 0 calc(50% - #{math.div($spacing-lg, 2)});
  }
}

/* -----------------------------
   Desktop
------------------------------ */

@media (min-width: 1024px) {
  :host {
    flex: 0 0 calc((100% - (#{$spacing-lg} * 2)) / 3);
  }
}
