mat-card {
  width: 320px;
  transition: background-color 0.3s;
  cursor: pointer;
}

img {
  height: 180px;
  object-fit: cover;
}

.liked {
  color: red;
}

.spacer {
  flex: 1 1 auto;
}

.dark-theme mat-card {
  background: #1f1f1f;
}
